In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head()

   SNo       X_1       X_2   y
0    0 -0.869144  0.389310  0.0
1    1 -0.993467 -0.610591  0.0
2    2 -0.834064  0.239236  0.0
3    3 -0.136471  0.632003  1.0
4    4  0.403887  0.310784  1.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SNo     100 non-null    int64
 1   X_1     100 non-null    float64
 2   X_2     100 non-null    float64
 3   y       100 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 3.2 KB

In [5]:
data.describe()

              SNo         X_1         X_2          y
count  100.000000  100.000000  100.000000  100.000000
mean    49.500000    0.020093    0.043525    0.600000
std     29.011492    0.557790    0.544421    0.492366
min      0.000000   -1.000000   -1.000000    0.000000
25%     24.750000   -0.402007   -0.485076    0.000000
50%     49.500000    0.059902    0.086310    1.000000
75%     74.250000    0.437707    0.428448    1.000000
max     99.000000    1.000000    1.000000    1.000000

In [6]:
from sklearn.model_selection import train_test_split

In [10]:
data.columns

Index(['SNo', 'X_1', 'X_2', 'y '], dtype='object')

In [7]:
x=data[['X_1','X_2']]

In [11]:
y=data['y ']

In [12]:
x

         X_1       X_2
0  -0.869144  0.389310
1  -0.993467 -0.610591
2  -0.834064  0.239236
3  -0.136471  0.632003
4   0.403887  0.310784
..       ...       ...
95  0.531635 -0.479185
96 -0.650192  0.655303
97  0.985299  0.118333
98 -0.275289  0.005730
99  0.281860  0.726376

[100 rows x 2 columns]

In [13]:
y

0     0.0
1     0.0
2     0.0
3     1.0
4     1.0
     ...
95    1.0
96    1.0
97    1.0
98    1.0
99    1.0
Name: y , Length: 100, dtype: float64

In [14]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression()

In [17]:
predictions = logmodel.predict(X_test)

In [18]:
from sklearn.metrics import classification_report

In [19]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         0.0       0.69      0.90      0.78        10
         1.0       0.95      0.83      0.88        23

    accuracy                           0.85        33
   macro avg       0.82      0.86      0.83        33
weighted avg       0.87      0.85      0.85        33